<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
<app-navbar></app-navbar>
<br><br>
<div align="center"><h2 class="head">FREQUENTLY ASKED QUESTIONS</h2></div>
<br>
<div align="center"><img src="assets/ask.gif" width="200" height="200"></div>
<body>

  <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                  <h3>How do potential applicants find the job I posted?</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content" class="text-primary">
                  <p>Through a keyword search. The keyword search looks at the job description field that you create to
                    bring up the potential applicant results. It is an exact word search and applicants are advised on how to
                    use the search.</p>

              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                  <h3>How do I receive resumes?</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content" class="text-primary">
                  <p>If you have posted a job, and a job seeker finds your job posting and applies for it, their resume will be
                    sent via email to you. In addition, you will have access to their online profile.</p>

              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                  <h3>How to do edit my posting?</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content" class="text-primary">
                  <p>You can go to the home page where there are view report page where you can edit your form. Just click the edit button and edit which form you want to edit.</p>

              </div>
          </div>
      </div>
  </div>
</body>

