<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
<app-navbar></app-navbar>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="about.component.css">
</head>
<body>
  <br><br>
<div align="center"><h1 class="text-warning"><b>ABOUT</b></h1></div>
  <div class="container">
    <div class="card">
      <div class="card__header">
        <img src="assets/work.jpeg" alt="card__image" class="card__image" width="600">
      </div>
      <div class="text-warning">

        <h4>About Us</h4>
        <p>Job Hunter, Malaysia's most recent and up-to-date job recruitment engine, offers thousands of jobs from both the government and private sectors throughout Malaysia. Job Hunter offers both junior and non-executive job vacancies,
          which are systematically classified according to states and specialisations for your convenience.</p>
        </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="assets/helpwork.jpg" alt="card__image" class="card__image" width="600">
      </div>
      <div class="text-warning">
        <h4>What We Do?</h4>
        <p>Here, we also help employers in simplifying recruitment processes by
          providing job vacancy advertising, marketing and promotions. LookYourJob.my, your
          ultimate business recruitment solution!</p>
      </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="assets/preparework.jpeg" alt="card__image" class="card__image" width="600">
      </div>
      <div class="text-warning">
        <h4>Who We Are?</h4>
        <p>Traditionally, businessmen found employees through newspapers and flyers. However, with the rise of the internet and information technology, traditional job advertisements are becoming less effective in comparison to online internet recruitment. Nowadays,
          job seekers prefer to search for jobs on the internet from the comfort of their own homes.</p>
      </div>

    </div>
  </div>

</body>
</html>
